@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030005;
  color: #e0e0e0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f0505;
}
::-webkit-scrollbar-thumb {
  background: #331111;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffaa00;
}